body {
  border: 0;
  margin: 0;
  background: url(../images/flag.jpg) top center fixed;
  background-position: absolute;
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: transparent;

}

#vertical {
	background: rgba(81, 80, 95, 0.5); 
	width: 70%;
	position: center;
	margin-top: 10px;
	padding-bottom: 200px;
	margin-bottom: 50px;
	font-family: Lato;
	color: white;
}

header {
	background-color: transparent;
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-family: Lato;
	font-weight: 700;
	font-size: 46px;
}

.start {
	background-color: transparent;
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Lato;
	font-weight: 300;
	font-size: 1.8em;
}

.startbutton {
	background-color: #2F6AF5;
	display: inline-block;
	padding: 0.5em;
	margin: 1em;
	width: 20%;
	font-family: Lato;
	font-weight: 400;
	color: black;
	font-size: 1.3em;
	box-shadow: 2px 2px 1px #001F2E;
}

.startbutton:hover {
	background-color: #A9C2FC;

}

.question {
	background-color: transparent;
	display: inline-block; 
	width: 60%;
	padding: 0.2em;
	margin-bottom: 2em;
	font-family: Lato;
	font-weight: 400;
	font-size: 1.8em;
	color: white;

}

.yes {
	background-color: #FFF700;
	display: inline-block;
	padding: 0.5em;
	margin: 1em;
	width: 20%;
	float: left;
	font-family: Lato;
	font-weight: 400;
	color: black;
	font-size: 1.3em;
	box-shadow: 2px 2px 1px #001F2E;
}

.yes:hover {
	background-color: #FFFDBF;

}

.no {
	background-color: #FF7700;
	display: inline-block;
	padding: 0.5em;
	margin: 1em;
	width: 20%;
	float: right;
	font-family: Lato;
	font-weight: 400;
	color: black;
	font-size: 1.3em;
	box-shadow: 2px 2px 1px #001F2E;
}

.no:hover {
	background-color: #FFAF69;
}

#q1 {
	display: none;
	margin-bottom: 8em;
}


#q2 {
	display: none;
	margin-bottom: 8em;
}

#q3 {
	display: none;
	margin-bottom: 8em;
}

#q4 {
	display: none;
	padding-top: 2em;
	padding-bottom: 2em;
}

#q5 {
	display: none;
	padding-top: 2em;
	padding-bottom: 2em;
}

#q6 {
	display: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

#q7 {
	display: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

#q8 {
	display: none;
}

#q9 {
	display: none;
}

#q10 {
	display: none;
}

#q11 {
	display: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

#q12 {
	display: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

#q13 {
	display: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

#resultN {
	display: none;
}

#resultY {
	display: none;
}



.result {
	background: rgba(81, 80, 95, 0.5);
	display: inline-block; 
	width: 75%;
	padding: 0.2em;
	margin-top: 8em;
	margin-bottom: 3em;
	font-family: Lato;
	font-weight: 400;
	font-size: 1.7em;
	color: white;
}

.result p {
	font-family: Lato;
	font-weight: 300;
	font-size: 1.5em;
}

footer {
	font-family: Lato;
	font-weight: 300;
	font-size: 14px;
	color: white;
	margin: 2em;
}

footer a {
	color: white;
}